<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
</head>
<body>
  <h2>Zoekresultaat</h2>
  <br/><br/>
  <% for(var i = 0 ; i < aanvragen.length; i++){%>
  <p class='product'>

   <span><b>Name : </b><%= aanvragen[i].naam %></span><br/>
   <span><b>Description : </b><%= aanvragen[i].examen %></span><br/>
   <span><b>Price : </b><%= aanvragen[i].reden %></span><br/>
  </p>
  <%}%>


</body>
</html>
